Contacto
<%- content_for :navigation do %>
  <nav>
    <li>
      <%= link_to 'Contacto', '/contacto' %>
    </li>
  </nav>
<% end %>

<h1>
  Contacto.
</h1>

<%= image_tag 'https://s3-us-west-2.amazonaws.com/asml.sas/1462673_10205528618043616_1486566291084264130_o.jpg' %>

<dl>
  <dt>Hector Miguel Rodriguez Muñiz.</dt>
  <dt>hector.m.rm@hotmail.com</dt>
  <dt> Facebook/Ninds.Dr.Mono ></dt>
  <dt> Universidad de Colima. Facultad de Telematica. </dt>
  <dt> Profesor: Dario Pozos Zepeda. </dt>
  <dt> Correo del profesor: dario@ucol.mx</dt>
  <dt>Diciembre 2014</dt>
</dl>

<p> <b>Acerca de mi:<b> </p>
    <p> Estudiante de la carrera Ingenieria en Telematica en la Universidad de Colima. Me gusta el anime, los videojuegos en especial los mmorpg
    e informacion relacionada con la tecnologia. </p>
