<h1>Contacto</h1>
<hr/>
<div class='large-6 columns'>
  <h2>Acerca de mi: </h2>
  <p>
  Estudiante de la carrera Ingenieria en Telematica en la Universidad de Colima. Me gusta el anime, los videojuegos en especial los mmorpg
  e informacion relacionada con la tecnologia.
  </p>

  <h3>Mis datos:</h3>
  <dl>
    <dt>Nombre:</dt>
    <dd>Hector Miguel Rodriguez Muñiz.</dd>
    <dt>Email:</dt>
    <dd>hector.m.rm@hotmail.com</dd>
    <dt>Facebook:</dt>
    <dd>Ninds.Dr.Mono</dd>
  </dl>

  <h3>Datos del Profesor:</h3>
  <dl>
    <dt>Nombre:</dt>
    <dd>Dario Pozas Zepeda. </dd>
    <dt>Email:</dt>
    <dd>dario@ucol.mx</dd>
  </dl>

  <p>
    <strong>Universidad de Colima. Facultad de Telematica.</strong>
    <br/>
    Diciembre 2014
  </p>
</div>

<%= image_tag 'https://s3-us-west-2.amazonaws.com/asml.sas/1462673_10205528618043616_1486566291084264130_o.jpg', class: 'large-6 columns' %>

