<p> En esta pagina web se encuentran recopilados imagenes e información acerca del Campo Electromagnetico y sus caracteristicas.
Esta actividad ha sido elaborado en Ruby on Rails como una evaluación encomendada por el Fisico Dario Pozos Zepeda profesor
de la Universidad de Colima que imparte la clase de "Fisica 1" con enfoque en "Electricidad y Magnetismo" a la Facultad de Telematica. </p>

<p> Este proyecto ha sido elaborado por el alumno Hector Miguel Rodriguez Muñiz del grupo 1-B de la Facultad de Telematica de la
Universidad de Colima.</p>
