<p> Esta pagina web esta planeada para que  constantemente crecer, aumentando el numero de contenidos y de materias que se
presentan. En un inicio solo es Fisica 1 pero a largo plazo ir anexando los contenidos de otras materias como: </p>
<li> Etica y Comportamiento Organizacional. </li>
<li> Matematicas</li>
<li> Redes de Datos</li>
<li> Herramientas de programacion.</li>
<li> Ingles</li>

<%- content_for :navigation do %>
  <h4 class='subheader'>Indice</h4>
  <ul class='no-bullet'>
    <li>
      <%= link_to 'Fisica', '/materias/fisica' %>
    </li>
  </ul>
<% end %>
