MATERIAS INDEX

<%- content_for :navigation do %>
  <nav>
    <li>
      <%= link_to 'Fisica', '/materias/fisica' %>
      <%= link_to 'Matematicas', '/materias/matematicas' %>
      <%= link_to 'Etica', '/materias/etica' %>
    </li>
  </nav>
<% end %>
