<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis, diam non posuere lacinia, est odio mattis elit, et pharetra leo turpis sed elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non viverra eros, non maximus felis. Aenean feugiat in magna at posuere. Sed non massa non mauris malesuada blandit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer at ligula ultricies, consequat tellus quis, egestas risus. Suspendisse mollis sit amet sem in porttitor. Nulla ut scelerisque nisi. Quisque semper quam id molestie fermentum. Suspendisse potenti. Vestibulum aliquam justo lorem. Curabitur euismod iaculis odio sit amet tincidunt.
</p>
<%- content_for :navigation do %>
  <h4 class='subheader'>Indice</4>
  <ul class='no-bullet'>
    <li>
      <%= link_to 'Fisica', '/materias/fisica' %>
    </li>
  </ul>
<% end %>
