<h1>
  Amplitud de Onda.
</h1>


<p>
    La amplitud constituye el valor máximo que puede alcanzar la cresta o pico de una onda.
    El punto de menor valor recibe el nombre de valle o vientre, mientras que el punto donde el valor se anula al pasar, se conoce como “nodo” o “cero”. 
</p>

<p>
  De acuerdo su longitud de onda, las O.E.M. pueden ser agrupadas en rango de frecuencia.
    Este ordenamiento es conocido como Espectro Electromagnético, objeto que mide la frecuencia de las ondas.
</p>
