<h1> Espectro electromagnetico. </h1>
<hr/>

<%= image_tag 'http://3.bp.blogspot.com/-RM66Hga0WtE/Ua_pFQCtDcI/AAAAAAAACFc/es5lL2pC1nA/s1600/ESPECTRO+ELECTROMAGN%25C3%2589TICO%252C+EL+INFRAROJO.png', alt: 'Espectro' %>

<p>
    El espectro electromagnético (o simplemente espectro) es el rango de todas las radiaciones electromagnéricas posibles.
    El espectro de un objeto es la distribución característica de la radiación electromagnética de ese objeto.

    El espectro electromagnético se extiende desde las bajas frecuencias usadas para la radio moderna (extremo de la onda larga) hasta
    los rayos gamma (extremo de la onda corta), que cubren longitudes de onda de entre miles de kilómetros y la fracción del tamaño de un átomo.
    Se piensa que el límite de la longitud de onda corta está en las cercanías de la longitud Planck, mientras que el límite de la longitud de
    onda larga es el tamaño del universo mismo, aunque en principio el espectro sea infinito y continuo.

    Los espectros se pueden contemplar mediante espectroscopios que, además de permitir observar el espectro, permiten realizar medidas sobre
    el mismo, como son la longitud de onda, la frecuencia y la intensidad de la radiación. La longitud de una onda es el período espacial de la
    misma, es decir, la distancia que hay de pulso a pulso .

    Frecuencia es una magnitud que mide el número de repeticiones por unidad de tiempo de cualquier fenómeno o suceso periódico.

    El espectro electromagnético se extiende desde la radiación de menor longitud de onda, como los rayos gamma y los rayos X, pasando por la
    luz ultravioleta, la luz visible y los rayos infrarrojos, hasta las ondas electromagnéticas de mayor longitud de onda, como son las ondas
    de radio. Se cree que el límite para la longitud de onda más pequeña posible es la longitud de Planck mientras que el límite máximo sería
    el tamaño del Universo aunque formalmente el espectro electromagnético es infinito y continuo.

    Para su estudio, el espectro electromagnético se divide en segmentos o bandas, aunque esta división es inexacta. Se  puede descubrir una
    región mucho más amplia del espectro que el rango visible de 400 nm a 700 nm. Un espectroscopio de laboratorio común puede descubrir
    longitudes de onda desde 2 nm a 2500 nm. Con este tipo de aparatos puede obtenerse información detallada sobre las propiedades físicas
    de objetos, gases o incluso estrellas. La espectrometría se usa sobre todo en astrofísica. Por ejemplo, muchos átomos de hidrógeno emiten
    ondas de radio que tienen una longitud de onda de 21.12 cm.
</p>

<%= image_tag 'http://1.bp.blogspot.com/-7S55CoJE4LM/T0IlZpAka-I/AAAAAAAAHUY/yVq66epXgVU/s1600/Dibujo.bmp', alt: 'tabla' %>
<%= image_tag 'http://4.bp.blogspot.com/-zhmZeGEuFTw/T0IlzDvZrNI/AAAAAAAAHUg/vVW0N9_gSnI/s400/espectro.gif', alt: 'tabla2' %>

<p>
    - El espectro de emisión atómica de un elemento es un conjunto de frecuencias de las ondas electromagnéticas emitidas por átomos de
    ese elemento, en estado gaseoso, cuando se le comunica energía. El espectro de emisión de cada elemento es único y puede ser usado para
    determinar si ese elemento es parte de un compuesto desconocido.
</p>

<p>
    - El espectro de absorción de un material muestra la fracción de la radiación electromagnética incidente que un material absorbe dentro
    de un rango de frecuencias. Es, en cierto sentido, el opuesto de un espectro de emisión. Cada elemento químico posee líneas de absorción
    en algunas longitudes de onda, hecho que está asociado a las diferencias de energía de sus distintos orbitales atómicos. De hecho,
    emplea el espectro de absorción para identificar los elementos componentes de algunas muestras, como líquidos y gases; más allá,
    se puede emplear para determinar la estructura de compuestos orgánicos. Un ejemplo de las implicaciones de un espectro de absorción
    es que aquel objeto que lo haga con los colores azul, verde y amarillo aparecerá de color rojo cuando incida sobre él luz blanca.
</p>


<h2>
    Tipos de radicación.
</h2>

<p>
    Aunque el esquema de clasificación suele ser preciso, en realidad existe algo de trasposición entre tipos vecinos de energía electromagnética.
    Por ejemplo, las ondas de radio a 60 Hz pueden ser recibidas y estudiadas por astrónomos, o pueden ser conducidas a lo largo de cables como
    energía eléctrica. También, algunos rayos gamma de baja energía realmente tienen una longitud de onda más larga que algunos rayos X de gran
    energía. Esto es posible porque "rayo gamma" es el nombre que se le da a los fotones generados en la descomposición nuclear u otros procesos
    nucleares y subnucleares, mientras que los rayos X son generados por transiciones electrónicas que implican electrones interiores muy
    energéticos. Por lo tanto, la diferencia entre rayo gamma y rayo X está relacionada con la fuente de radiación más que con la longitud de
    onda de la radiación. Generalmente, las transiciones nucleares son mucho más energéticas que las transiciones electrónicas, así que los
    rayos gamma suelen ser más energéticos que los rayos X. Sin embargo, hay transiciones nucleares de baja energía (p.ej. la transición nuclear
    de 14.4 keV del Fe-57) que producen rayos gamma que son menos energéticos que algunos de los rayos X de mayor energía.
</p>

<h3>
  Radiofrecuencia.
</h3>

<p>
    Las ondas de radio suelen ser utilizadas mediante antenas del tamaño apropiado (según el principio de resonancia), con longitudes de
    onda en los límites de cientos de metros a aproximadamente un milímetro. Se usan para la transmisión de datos, a través de la modulación.
    La televisión, los teléfonos móviles, las resonancias magnéticas, o las redes inalámbricas y de radio-aficionados, son algunos usos
    populares de las ondas de radio.

    Las ondas de radio pueden transportar información variando la combinación de amplitud, frecuencia y fase de la onda dentro de una banda
    de frecuencia. El uso del espectro de radio está regulado por muchos gobiernos mediante la asignación de frecuencias. Cuando la radiación
    electromagnética impacta sobre un conductor, se empareja con él y viaja a lo largo del mismo, induciendo una corriente eléctrica en la
    superficie de ese conductor mediante la excitación de los electrones del material de conducción. Este efecto (el efecto piel) se usado en
    las antenas. La radiación electromagnética también puede hacer que ciertas moléculas absorban energía y se calienten, una característica
    que se utiliza en en los microondas.
</p>

<h3>
    Microondas.
</h3>

<p>
    La frecuencia super alta (SHF) y la frecuencia extremadamente alta (EHF) de las microondas son las siguientes en la escala de frecuencia.
    Las microondas son ondas los suficientemente cortas como para emplear guías de ondas metálicas tubulares de diámetro razonable. La
    energía de microondas se produce con tubos klistrón y tubos magnetrón, y con diodos de estado sólido como los dispositivos Gunn e
    IMPATT. Las microondas son absorbidas por la moléculas que tienen un momento dipolar en líquidos. En un horno microondas, este efecto
    se usa para calentar la comida. La radiación de microondas de baja intensidad se utiliza en Wi-Fi.

    El horno microondas promedio, cuando está activo, está en un rango cercano y bastante poderoso como para causar interferencia con campos
    electromagnéticos mal protegidos, como los que se encuentran en dispositivos médicos móviles y aparatos electrónicos baratos.
</p>

<h3>
    Rayos T.
</h3>

<p>
    La radiación de terahertzios (o Rayos T) es una región del espectro situada entre el infrarrojo lejano y las microondas. Hasta hace
    poco, este rango estaba muy poco estudiado, ya que apenas había fuentes para la energía microondas en el extremo alto de la banda
    (ondas submilimétrica o también llamadas ondas terahertzios). Sin embargo, están apareciendo aplicaciones para mostrar imágenes y
    comunicaciones. Los científicos también buscan aplicar la tecnología de rayos T en las fuerzas armadas, donde podrían usarse para
    dirigirlas a las tropas enemigas, ya que las ondas de alta frecuencia incapacitan los equipos electrónicos.
</p>

<h3>
    Radiacion infrarroja.
</h3>

<p>
    La parte infrarroja del espectro electromagnético cubre el rango desde aproximadamente los 300 GHz (1 mm) hasta los 400 THz (750 nm).
Puede ser dividida en tres partes:

    * Infrarrojo lejano, desde 300 GHz (1 mm) hasta 30 THz (10 μm). La parte inferior de este rango también puede llamarse microondas.
    Esta radiación es absorbida por los llamados modos rotatorios en las moléculas en fase gaseosa, mediante movimientos moleculares en
    los líquidos, y mediante fotones en los sólidos. El agua en la atmósfera de la Tierra absorbe tan fuertemente esta radiación que confiere
    a la atmósfera efectividad opaca. Sin embargo, hay ciertos rangos de longitudes de onda ("ventanas") dentro del rango opaca¡o que permiten
    la transmisión parcial, y pueden ser usados en astronomía. El rango de longitud de onda de aproximadamente 200 μm hasta unos pocos mm suele
    llamarse "radiación submilimétrica" en astronomía, reservando el infrarrojo lejano para longitudes de onda por debajo de los 200 μm.

    * Infrarrojo medio, desde 30 a 120 THz (10 a 2.5 μm). Los objetos calientes (radiadores de cuerpo negro) pueden irradiar fuertemente en este
    rango. Se absorbe por vibraciones moleculares, es decir, cuando los diferentes átomos en una molécula vibran alrededor de sus posiciones de
    equilibrio. Este rango es llamado, a veces, región de huella digital, ya que el espectro de absorción del infrarrojo medio de cada compuesto
    es muy específico.

    * Infrarrojo cercano, desde 120 a 400 THz (2500 a 750 nm). Los procesos físicos que son relevantes para este rango son similares a los de la
    luz visible.
</p>

<h3>
    Luz.
</h3>

<p>
    La frecuencia por encima del infrarrojo es la de la luz visible. Este es el rango en el que el Sol y las estrellas similares a él emiten
    la mayor parte de su radiación. No es probablemente una coincidencia que el ojo humano sea sensible a las longitudes de onda que el sol
    emite con más fuerza. La luz visible (y la luz cercana al infrarrojo) son absorbidas y emitidas por electrones en las moléculas y átomos
    que se mueven desde un nivel de energía a otro. La luz que vemos con nuestros ojos es realmente una parte muy pequeña del espectro
    electromagnético. Un arco iris muestra la parte óptica (visible) del espectro electromagnético; el infrarrojo (si pudiera verse) estaría
    localizado justo a continuación del lado rojo del arco iris, mientras que el ultravioleta estaría tras el violeta.

    La radiación electromagnética con una longitud de onda entre aproximadamente 400 nm y 700 nm es detectado por el ojo humano y percibida
    como luz visible. A otras longitudes de onda, sobre todo al infrarrojo cercano (más largo de 700 nm) y al ultravioleta (más corto que 400
    nm) también se les llama luz a veces, sobre todo cuando la visibilidad para los humanos no es relevante.
</p>

<h3>
    Luz Ultravioleta
</h3>

<p>
    La siguiente frecuencia en el espectro es el ultravioleta (o rayos UV), que es la radiación cuya longitud de onda es más corta que el
    extremo violeta del espectro visible.

    Al ser muy energética, la radiación ultravioleta puede romper enlaces químicos, haciendo a las moléculas excepcionalmente reactivas
    o ionizándolas, lo que cambia su comportamiento. Las quemaduras solares, por ejemplo, están causadas por los efectos perjudiciales de
    La radiación UV en las células de la piel, y pueden causar incluso cáncer de piel si la radiación daña las moléculas de ADN complejas en
    las células (la radiación UV es un mutágeno). El Sol emite una gran cantidad de radiación UV, lo que podría convertir rápidamente la
    Tierra en un desierto estéril si no fuera porque, en su mayor parte, es absorbida por la capa de ozono de la atmósfera antes de alcanzar
    la superficie.
</p>

<h3>
    Rayos X.
</h3>

<p>
Después del ultravioleta vienen los rayos X. Los rayos X duros tienen longitudes de onda más cortas que los rayos X suaves. Se
usan generalmente para ver a través de algunos objetos, así como para la física de alta energía y la astronomía. Las estrellas de
neutrones y los discos de acreción alrededor de los agujeros negros emiten rayos X, lo que nos permite estudiarlos.

Los rayos X pasan por la mayor parte de sustancias, y esto los hace útiles en medicina e industria. También son emitidos por las
estrellas, y especialmente por algunos tipos de nebulosas. Un aparato de radiografía funciona disparando un haz de electrones sobre
un "objetivo". Si los electrones se disparan con suficiente energía, se producen rayos X.
</p>

<h3>
    Rayos Gamma.
</h3>

<p>
    Después de los rayos X duros vienen los rayos gamma. Son los fotones más energéticos, y no se conoce el límite más bajo de su longitud
    de onda. Son útiles a los astrónomos en el estudio de objetos o regiones de alta energía, y son útiles para los físicos gracias a su
    capacidad penetrante y su producción de radioisótopos. La longitud de onda de los rayos gamma puede medirse con gran exactitud por medio
    de dispersión Compton.

    No hay ningún límite exactamente definido entre las bandas del espectro electromagnético. Algunos tipos de radiación tienen una mezcla
    de las propiedades de radiaciones que se encuentran en las dos regiones del espectro. Por ejemplo, la luz roja se parece a la radiación
    infrarroja en que puede resonar algunos enlaces químicos. 
</p>
