<h1>
  Frecuencia de Onda.
</h1>


<p>
La frecuencia de una onda responde a un fenómeno físico que se repite cíclicamente un número determinado de veces durante un segundo de tiempo, tal como se puede observar en la siguiente ilustración:
</p>

<%= image_tag 'https://grupo5rbrp.files.wordpress.com/2012/02/espectro-111.gif', alt: 'Frecuencia' %>

<p>
    A.- Onda senoidal de un ciclo o hertz (Hz) por segundo. 
    B.- Onda senoidal de 10 ciclos o hertz por segundo.
    La frecuencia de esas ondas del espectro electromagnético se representan con la letra (f) y su unidad de medida es el ciclo o Hertz (Hz) por segundo. Otras unidades de frecuencias muy utilizadas (en otros ámbitos) son las "revoluciones por minuto" (RPM) y los "radianes por segundo" (rad/s).
    La frecuencia y el periodo están relacionados de la siguiente manera:
</p>

<%= image_tag 'https://www.dropbox.com/s/047owqk9vxmw1ze/2.jpg?dl=0', alt: 'Frecuenia y periodo' %>
