<h1> Longitud de Onda. </h1>
<hr/>

<p>
    Las ondas del espectro electromagnético se propagan por el espacio de forma similar a como lo hace el agua cuando tiramos una piedra a un
    estanque, es decir, generando ondas a partir del punto donde cae la piedra y extendiéndose hasta la orilla.
    Cuando tiramos una piedra en un estanque de agua, se generan ondas similares a las radiaciones propias del espectro electromagnético.
    Tanto las ondas que se producen por el desplazamiento del agua, como las ondas del espectro electromagnético poseen picos o crestas,
    así como valles o vientres. La distancia horizontal existente entre dos picos consecutivos, dos valles consecutivos, o también el doble
    de la distancia existente entre un nodo y otro de la onda electromagnética, constituye lo que se denomina “longitud de onda”.
</p>

<%= image_tag 'http://www.monografias.com/trabajos82/funcionamiento-corriente-continua-y-alterna/image024.jpg', alt: 'Longitud de onda' %>

<ul>
  <li>
      <b>(P) Pico o cresta:</b>
      valor máximo, de signo positivo (+), que toma la onda sinusoidal del espectro electromagnético, cada medio ciclo,
      a partir del punto “0”. Ese valor aumenta o disminuye a medida que la amplitud “A” de la propia onda crece o decrece positivamente por
      encima del valor "0".
  </li>
  <li>
    <b>(V) Valle o vientre:</b>
    valor máximo de signo negativo (–) que toma la onda senoidal del espectro electromagnético, cada medio ciclo,
    cuando desciende y atraviesa el punto “0”. El valor de los valles aumenta o disminuye a medida que la amplitud “A” de la propia onda
    crece o decrece negativamente por debajo del valor "0". 
  </li>
  <li>
    <b>N Nodo: Valor "0" de la onda senoidal: </b>
    La longitud de una onda del espectro electromagnético se representa por medio de la letra griega lambda. ( ) y su valor se puede hallar
    empleando la siguiente fórmula matemática:
    <br/>
    <strong>&lambda; = c / f.</strong>
    <br/>
    De donde:
    <ul>
      <li><b>&lambda;</b> = Longitud de onda en metros.</li>
      <li><b>c</b> = Velocidad de la luz en el vacío (300.000 km/seg).</li>
      <li><b>f</b> = Frecuencia de la onda en hertz (Hz).</li>
    </ul>
  </li>
</ul>
