<h1>
Periodo de onda.
</h1>

<p> El período de una oscilación u onda (T) es el tiempo transcurrido entre dos puntos equivalentes de la onda. </p>

<p> Es el mínimo lapso que separa dos instantes en los que el sistema se encuentra exactamente en el mismo estado: mismas posiciones,
    mismas velocidades, mismas amplitudes. Así, el periodo de oscilación de una onda es el tiempo empleado por la misma en completar una
    longitud de onda. En términos breves es el tiempo que dura un ciclo de la onda en volver a comenzar. Por ejemplo, en una onda, el
    periodo es el tiempo transcurrido entre dos crestas o valles sucesivos. El periodo (T) es inverso a la frecuencia (f): </p>

    <%= image_tag 'http://upload.wikimedia.org/math/2/c/9/2c997fdd42f096208669d9e390cdee82.png' %>

    <p>
    </p>
<p> Como el periodo siempre es inverso a la frecuencia, la longitud de onda también está relacionada con el periodo, mediante la
    fórmula de la velocidad de propagación. En este caso la velocidad de propagación será el cociente entre la longitud de onda y
    el período.</p>

