<h1>Velocidad de Onda.</h1>
<hr/>

<p>
    Es la distancia que recorre la onda en una unidad de tiempo. En el caso de la velocidad de propagación de la luz en el vacío,
    se representa con la letra c.
    La velocidad, la frecuencia, el periodo y la longitud de onda están relacionados por las siguientes ecuaciones: 
</p>

<%= image_tag 'https://lh3.ggpht.com/lxrD5aKCnQp4EF_k_FNmnERmiX4QMdnvGW0ym9Xv4fYxI11MKdPhkm3aNAQyjlOKgqX4=s114', alt: 'Ecuaciones velocidad' %>

<p>
    En donde:
    C = Velocidad de la luz en el vacío (300.000 km/seg).
</p>

<p>
    <b>&lambda;</b>= Longitud de onda en metros.
    v = Velocidad de propagación.
    T = Periodo.
</p>
