<h1><%= @title %></h1>


<h2> 
  Campo Magnetico.
</h2>

<p>
    Se trata de un campo que ejerce fuerzas (denominadas magnéticas) sobre los materiales. Al igual que el campo eléctrico también es un campo vectorial, pero que no produce ningún efecto sobre cargas en reposo (como sí lo hace el campo eléctrico en dónde las acelera a través de la fuerza eléctrica). Sin embargo el campo magnético tiene influencia sobre cargas eléctricas en movimiento.
    Si una carga en movimiento atraviesa un campo magnético, la misma sufre la acción de una fuerza (denominada fuerza magnética). Esta fuerza no modifica el módulo de la velocidad pero sí la trayectoria (ver fuerza magnética). Sobre un conductor por el cual circula electricidad y que se encuentra en un campo también aparece una fuerza magnética.
</p>

<p>
    El campo magnético está presente el los imanes. Por otro lado, una corriente eléctrica también genera un campo magnético.
</p>

<p>
    El campo magnético se denomina con la letra B y se mide en Tesla.
</p>

<h2>
  Novela ligera[editar]
</h2>

<p>
  Hasta la fecha, hay cinco novelas ligeras escritas por Jin e ilustradas por Shidu enfocadas a Kagerou Project. 
  Estas son publicadas por Enterbrain e impresas por KCG Bunko.
</p>




















<%- content_for :navigation do %>
  <nav>
    <li>Espectro Electrico</li>
    <li>
      Propiedades de las Ondas
      <ol>
        <li>Amplitud</li>
        <li>Frecuencia</li>
        <li>Periodo</li>
        <li>Longitud</li>
        <li>Velocidad</li>
      </ol>
    </li>
    <li>Problemas de Aplicacion</li>
  </nav>
<% end %>
