<h1><%= @title %></h1>

<%- content_for :navigation do %>
  <nav>
    <li>Espectro Electrico</li>
    <li>
      Propiedades de las Ondas
      <ol>
        <li>Amplitud</li>
        <li>Frecuencia</li>
        <li>Periodo</li>
        <li>Longitud</li>
        <li>Velocidad</li>
      </ol>
    </li>
    <li>Problemas de Aplicacion</li>
  </nav>
<% end %>
