<h1><%= @title %></h1>

<p>
  La primera canción de la serie en ser lanzada fue «Jinzō Enemy», publicada el 17 de febrero de 2011.
  En esta pista, Jin hace uso de la voz de la Vocaloid Hatsune Miku, al igual que en las dos canciones
  que la suceden. Sin embargo, para la cuarta canción, «Headphone Actor», el músico japonés utilizó a
  la entonces aún no lanzada Vocaloid IA, cuya voz aparece también en los temas restantes de la serie.
  De las quince pistas que han sido subidas a Niconico, doce cuentan con videos musicales; estas
  animaciones han sido realizadas algunas por Shidu y otras por Wannyanpu.
</p>

<p>
  El primer álbum de Jin relacionado a Kagerou Project, Mekakucity Days (メカクシティデイズ?), fue lanzado
  por IA Project y Sony Music el 30 de mayo de 2012 y contiene once canciones junto con dos instrumentales.
  El DVD del álbum además incluye los videoclips de las canciones que habían sido previamente subidas a Niconico,
  además de uno exclusivo, «Tōmei Answer». El segundo disco, Mekakucity Records (メカクシティレコーズ?), fue 
  puesto a la venta por IA Project y Sony Music el 29 de mayo de 2013.
</p>

<h2>
  Novela ligera[editar]
</h2>

<p>
  Hasta la fecha, hay cinco novelas ligeras escritas por Jin e ilustradas por Shidu enfocadas a Kagerou Project. 
  Estas son publicadas por Enterbrain e impresas por KCG Bunko.
</p>




















<%- content_for :navigation do %>
  <nav>
    <li>Espectro Electrico</li>
    <li>
      Propiedades de las Ondas
      <ol>
        <li>Amplitud</li>
        <li>Frecuencia</li>
        <li>Periodo</li>
        <li>Longitud</li>
        <li>Velocidad</li>
      </ol>
    </li>
    <li>Problemas de Aplicacion</li>
  </nav>
<% end %>
