<h1><%= @title %></h1>

<h1> Te amo Imei >:3 en verdad que te amo muchisimo y y esta vez te dejo ganar eh u///u solamente porque te amo mucho mas x//3... y y gracias :") ....que estas ricaaa :$$ </h1>

<h2> 
  Campo Magnetico.
</h2>


<p>
    Se trata de un campo que ejerce fuerzas (denominadas magnéticas) sobre los materiales. Al igual que el campo eléctrico también es un campo vectorial, pero que no produce ningún efecto sobre cargas en reposo (como sí lo hace el campo eléctrico en dónde las acelera a través de la fuerza eléctrica). 

    Sin embargo el campo magnético tiene influencia sobre cargas eléctricas en movimiento.

    Si una carga en movimiento atraviesa un campo magnético, la misma sufre la acción de una fuerza (denominada fuerza magnética). Esta fuerza no modifica el módulo de la velocidad pero sí la trayectoria (ver fuerza magnética). Sobre un conductor por el cual circula electricidad y que se encuentra en un campo también aparece una fuerza magnética.
    </p>

<p>
    El campo magnetico |B| es una magnitud vectorial. Puede estar producido por una carga puntual en movimiento o por un conjunto de cargas den movimiento, es decir, por una corriente electrica.
    </p>

<p>
    El campo magnético está presente el los imanes. Por otro lado, una corriente eléctrica también genera un campo magnético.
    </p>

<p>
    La unidad de campo magnetico en el Sistema Internacional es el |Tesla| (T). Un tesla se define como el campo magnetico que ejerce una fuera de 1 N (newton) sobre una carga de 1 C (coulumb)  que se mueve a velocidad de 1 m/s dentro del campo y perpendicularmente a las lineas del campo.
    </p>

<p>
  El tesla es una unidad muy grande, por lo que a veces se emplea como unidad de campo magnético el gauss (G) que, aunque no pertecece al Sistema Internacional sino al sistema CGS, tiene un valor más acorde con el orden de magnitud de los campos magnéticos que habitualmente se manejan.


  1 T = 10.000 gauss
    </p>


<h3>
    Campo magnetico creado por una carga puntual.
    </h3>

<p>
    Cuando una carga q se mueve con una cierta velocidad, como se muestra en la siguiente figura, crea un campo magnético en todo el espacio.
    </p>

<p>
    Dicho campo viene dado por la expresion:
    </p>



<p>
    Donde:


    q es la carga creadora del campo
    v es la velocidad de dicha carga
    r es la distancia desde el punto donde se encuentra la carga hasta el punto Pdonde se está calculando el campo
    ur es un vector unitario que va desde el punto donde se encuentra la carga hacia el punto donde se calcula el campo
    μ0 es una constante denominada permeabilidad del espacio libre. Su valor en el Sistema Internacional es μ0 = 4π 10-7 T m/A
    </p>

<p>
    La dirección y el sentido del campo B vienen dados por la regla de la mano derecha, y su módulo es el módulo del producto vectorial:

    </p>

<p>
    Cuando la carga q es negativa, el sentido de B es opuesto al que se muestra en la figura. El campo magnético en la dirección del movimiento es nulo, ya que en este caso los vectores v y ur son paralelos y su producto vectorial es cero.
    </p>
















<%- content_for :navigation do %>
  <nav>
    <li>Espectro Electrico</li>
    <li>
      Propiedades de las Ondas
      <ol>
        <li>Amplitud</li>
        <li>Frecuencia</li>
        <li>Periodo</li>
        <li>Longitud</li>
        <li>Velocidad</li>
      </ol>
    </li>
    <li>Problemas de Aplicacion</li>
  </nav>
<% end %>
