<hr/>
<div class="large-6 columns">
  <small>Todos los derechos reservados. Noviembre 2014</small>
</div>
<div class="large-6 columns">
  <ul class="inline-list right">
    <li><%= link_to 'Bibliografia', bibliografia_path  %></li>
    <li><%= link_to 'Contacto',  contacto_index_path  %></li>
  </ul>
</div>
