<h1>
    Bibliografia.
</h1>

<p>
http://books.google.com.mx/books?id=bKKlb3z4FgwC&pg=PA168&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CCIQ6AEwAQ#v=onepage&q=espectro%20electromagnetico&f=false
http://books.google.com.mx/books?id=brlMVTA48X4C&pg=PA927&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CFAQ6AEwCQ#v=onepage&q=espectro%20electromagnetico&f=false
http://books.google.com.mx/books?id=bKKlb3z4FgwC&pg=PA168&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CCIQ6AEwAQ#v=onepage&q=espectro%20electromagnetico&f=false
http://books.google.com.mx/books?id=cGTl99kok9UC&pg=PA1238&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CC8Q6AEwAw
http://teleformacion.edu.aytolacoruna.es/FISICA/document/fisicaInteractiva/Ondasbachillerato/ondasCaract/ondas-Caract_indice.htm
http://www.fisicapractica.com/campo-magnetico.php
http://www.bibliotecapleyades.net/esp_gravedad_magnetismo.htm
http://www.areatecnologia.com/ondas-electromagneticas.htm
http://rabfis15.uco.es/lvct/tutorial/21/Propiedades%20de%20las%20ondas.html
http://www.taringa.net/post/ciencia-educacion/12869841/Ondas-electromagneticas-origen-y-caracteristicas.html

http://pendientedemigracion.ucm.es/info/opticaf/OPT_FIS/apuntes_sueltos_prov/pdf/Tema2.pdf
http://www.espectrometria.com/espectro_electromagntico

http://www.astrofisicayfisica.com/2012/06/que-es-el-espectro-electromagnetico.html
</p>
